.venv
.pytest_cache
__pycache__
/.idea/.gitignore
/.idea/encodings.xml
/.idea/kata-mars-rover-fuchsia.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
